
<!-- display articles -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="text-center">Articles</h2>
					<ul>


						<!-- uses a flag passed from the controller to check if the list is empty -->
						{{!--{{#if noBurgers }}
							<p class="text-center">Sorry no burgers to devour!</p>
						{{/if}}--}}
						{{!--{{#each userObj}}--}}
						{{!--<div onload="saveUser('{{userObj.id}}')"></div>--}}
						<p id="current-user-id" data-id="{{userObj.id}}" data-username="{{userObj.username}}">{{userObj.username}}</p>
						{{!--{{/each}}--}}
					  	{{#each articleObj}}
						    <li>
									<p onclick="openAndCloseArticle('{{this.id}}')">CLOSE <span>X</span></p>
				       				<p><strong>{{this.title}}</strong></p>
					        		<p><strong>{{this.link}}</strong></p>
									<p><strong>{{this.created_at}}</strong></p>
									<div id="{{this.id}}" class="full-article">

										<img src="{{this.img}}" alt="{{this.credit}}">
										<ul>
											{{#each this.comments}}

												<li> {{this._id}} |  {{this.comment}} |  {{this._creator.username}} | </li>
			
													{{!--user can only delete users own comments--}}
													<button onclick="verifyOwner('{{this._creator._id}}', '{{this._id}}','{{this.article}}')">Delete Comment</button>
							
												
						
											{{/each}}
										</ul>
										<div id="err-{{this.id}}"></div>
										<div >

											<form  class="new-user-comment" id="form{{this.id}}" action="/comment" method="POST">
											{{!--User input html will be painted here--}}
											
											</form>
										</div>
									</div>


						    </li>
						{{/each}}

					</ul>
				</div>
			</div>
		</div>
		